<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input [(ngModel)]="nombre"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Año</ion-label>
  <ion-input [(ngModel)]="year" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">ISBN</ion-label>
  <ion-input [(ngModel)]="isbn"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Editorial</ion-label>
  <ion-input [(ngModel)]="editorial"></ion-input>
</ion-item>

<ion-button expand="full" (click)="agregarLibro()">Agregar Libro</ion-button>

<ion-text *ngIf="mensaje" color="primary">
  {{ mensaje }}
</ion-text>
