ion-header {
    --background: rgba(243, 239, 239, 0.8); /* Fondo oscuro con transparencia */
    color: #fff; /* Texto en blanco */
  
    ion-toolbar {
      --background: rgba(92, 50, 247, 0.1); /* Fondo del toolbar con transparencia */
      --color: #ffffff; /* Color del texto */
    }
  
    ion-title {
      font-size: 24px; /* Tamaño de fuente */
      font-weight: bold; /* Texto en negrita */
      text-align: center; /* Centrado */
      color: #ffffff; /* Color del título */
    }
  }
  

  .thin-divider {
    height: 0px;            /* Ajusta el grosor de la línea */
    background-color: #686767; /* Cambia el color si es necesario */
    margin: 1px ;         /* Espacio alrededor de la línea */
  }
  /* Estilos para el botón */
.arrow-button {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del icono */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%; /* Hace el botón circular */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  .arrow-button:hover {
    background-color: #f1f0f3; /* Color al pasar el ratón */
  }
  .item-with-image {
    display: flex;
    align-items: center;
  }
  
  .item-with-image img {
    width: 100px; /* Ajusta el tamaño a tu preferencia */
    height: auto;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
  }
  