ion-header {
    --background: rgba(243, 239, 239, 0.8); /* Fondo oscuro con transparencia */
    color: #fff; /* Texto en blanco */
  
    ion-toolbar {
      --background: rgba(92, 50, 247, 0.1); /* Fondo del toolbar con transparencia */
      --color: #ffffff; /* Color del texto */
    }
  
    ion-title {
      font-size: 24px; /* Tamaño de fuente */
      font-weight: bold; /* Texto en negrita */
      text-align: center; /* Centrado */
      color: #ffffff; /* Color del título */
    }
  }
  